{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layui.css' %}"/>
</head>
<body>
<!--管理员 课程管理-->
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>CRUD——Django + LayUI</h1>
        </blockquote>
        {# 显示所有课程模块 #}
        <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
            <th>id</th>
            <th>课程名</th>
            <th>学分</th>
            <th>上课地点</th>
            <th>课程类型</th>
            <th>前置课程</th>
            <th>任课教师</th>
            <th>删除</th>
        </tr>
      </thead>
      <tbody>
        {%for course in data%}
            <tr>
                <td>{{course.id}}</td>
                <td>{{course.CourName}}</td>
                <td>{{course.CourCredit}}</td>
                <td>{{course.CourPlace}}</td>
                <td>{{course.CourType}}</td>
                <td>{{course.CourReq}}</td>
                <td>{{course.CourTea}}</td>
                <td>
                    {# 删除学生模块 #}
                    <a href="/delete/{{ course.id }}" class="layui-btn layui-btn-danger">
                        <i class="layui-icon">&#xe640;</i>删除
                    </a>
                </td>
            </tr>
        {%endfor%}
      </tbody>
        </table>

        {# 添加学生模块 #}
        <a href="/AdminCourseAdd" class="layui-btn layui-btn-warm">
            <i class="layui-icon">&#xe654;</i> 添加
        </a>
    </div>
{% endblock %}
</body>
</html>