{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" type="text/css" href="http://x.xuebingsi.com/x-admin/v2.2/lib/layui/css/layui.css" />
<!--    <link rel="stylesheet" href="{% static 'css/layui.css'%}"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/font.css">
<!--    <link rel="stylesheet" href="static/css/font.css"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/login.css">
<!--    <link rel="stylesheet" href="static/css/login.css"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/xadmin.css">
<!--    <link rel="stylesheet" href="static/css/xadmin.css"/>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://x.xuebingsi.com/x-admin/v2.2/lib/layui/layui.js"></script>
<!--    <script type="text/javascript" src="/static/js/layui.js" ></script>-->
</head>
<body>
<!--管理员 课程管理-->
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>课程管理页面</h1>
        </blockquote>
        {# 显示所有课程模块 #}
        <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
            <th>id</th>
            <th>课程名</th>
            <th>学分</th>
            <th>上课地点</th>
            <th>课程类型</th>
            <th>前置课程</th>
            <th>任课教师</th>
            <th>课余量</th>
            <th>审核状态</th>
            <th>通过</th>
        </tr>
      </thead>
      <tbody>
        {%for course in data%}
            <tr>
                <td>{{course.id}}</td>
                <td>{{course.CourName}}</td>
                <td>{{course.CourCredit}}</td>
                <td>{{course.CourPlace}}</td>
                <td>{{course.CourType}}</td>
                <td>{{course.CourReq}}</td>
                <td>{{course.CourTea}}</td>
                <td>{{course.CourNum}}</td>
                <td>{{course.Ispass}}</td>
                <td>
                    {# 通过审核 #}
                    <a href="/pass/{{ course.id }}" class="layui-btn layui-btn-danger">
                        通过
                    </a>
                </td>
            </tr>
        {%endfor%}
      </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>