{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师信息管理</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layui.css' %}"/>
</head>
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>Update Student Page</h1>
        </blockquote>

        <div class="layui-row">
        {%for teacher in data%}
            <div class="layui-col-md5">
                <form action="/updateTeacher/" method="post" enctype="multipart/form-data"/>

                    <input type="text" name="TeaNum" id="TeaNum" placeholder="工号" class="layui-input" value="{{ teacher.TeaNum}}" />
                    <hr class="layui-bg-green">

                    <input type="text" name="TeaName" id="TeaName" placeholder="教师姓名" class="layui-input" value="{{ teacher.TeaName}}"/>
                    <hr class="layui-bg-green">


                    <input type="text" name="TeaSex" id="TeaSex" placeholder="性别" class="layui-input" value="{{ teacher.TeaSex }}"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="TeaCollege" id="TeaCollege" placeholder="学院" class="layui-input" value="{{ teacher.TeaCollege }}"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="TeaMajor" id="TeaMajor" placeholder="专业" class="layui-input" value="{{ teacher.TeaMajor }}"/>
                    <hr class="layui-bg-green">

                    <input type="submit" value="修改" class="layui-btn"/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}