{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息添加</title>
     <link rel="stylesheet" type="text/css" href="http://x.xuebingsi.com/x-admin/v2.2/lib/layui/css/layui.css" />
<!--    <link rel="stylesheet" href="{% static 'css/layui.css'%}"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/font.css">
<!--    <link rel="stylesheet" href="static/css/font.css"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/login.css">
<!--    <link rel="stylesheet" href="static/css/login.css"/>-->
    <link rel="stylesheet" href="http://x.xuebingsi.com/x-admin/v2.2/css/xadmin.css">
<!--    <link rel="stylesheet" href="static/css/xadmin.css"/>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://x.xuebingsi.com/x-admin/v2.2/lib/layui/layui.js"></script>
</head>
<body>
<!--学生添加-->
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>学生信息添加页面</h1>
        </blockquote>

        <div class="layui-row">

            <div class="layui-col-md9">
                <form action="{%url 'admin:AdminAddStudent' %}" method="post" class="layui-form layui-form-pane" />
                {% csrf_token %}
                    <hr class="layui-bg-green">

                    <input type="text" name="StuNum" id="StuNum" placeholder="学号" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuName" id="StuName" placeholder="学生姓名" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuAge" id="StuAge" placeholder="年龄" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuSex" id="StuSex" placeholder="性别" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuCollege" id="StuCollege" placeholder="所属学院" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuMajor" id="StuMajor" placeholder="所属专业" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="StuGra" id="StuGra" placeholder="毕业填1，未毕业填0" class="layui-input"/>
                    <hr class="layui-bg-green">
                    <input type="submit" value="添加" class="layui-btn"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>